.content-wrapper {
  display: flex;

  .left-side {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }

  .right-side {
    width: 30%;

    .chart-card {
      height: 100%;

      &-inner {
        height: 100%;
      }
    }

    .card-title {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}

.info-cards-wrapper {
  display: flex;
  width: 100%;

  .card-wrapper {
    width: 25%;
    padding: 1rem;
  }

  .card {
    padding: 1.5rem 1rem;
    color: #fff;
    text-align: center;

    &-title {
      margin-bottom: 1rem;
      font-size: 1.3rem;
      text-transform: uppercase;
    }

    .value {
      font-size: 3rem;
      font-weight: 600;
    }

    &-1 {
      background-color: rgb(73, 183, 236);
    }

    &-2 {
      background-color: rgb(131, 220, 238);
    }

    &-3 {
      background-color: rgb(73, 214, 190);
    }

    &-4 {
      background-color: rgb(123, 233, 168);
    }
  }
}

.chart-card {
  width: 100%;
  padding: 1rem;

  &-inner {
    padding: 1.5rem;
    background: #fff;
  }

  &.half {
    width: 50%;
  }
}

.income-statement {
  li {
    display: flex;
    flex-wrap: wrap;
    color: rgb(102, 102, 102);
    font-weight: 700;
  }

  .label {
    width: 60%;
    padding: 1.5rem 0;

    &.accent {
      text-transform: uppercase;
    }
  }

  .value {
    width: 40%;
    padding: 1.5rem 0;
    text-align: right;

    .currency {
      margin-left: 1rem;
    }
  }

  .info-sub-list {
    width: 100%;

    .sub-list-item {
      font-weight: 400;

      .label {
        padding-left: 2rem;
      }
    }
  }

  .line {
    border-bottom: 1px solid rgb(102, 102, 102);
  }
}

@media (min-width: 1800px) {
  .info-cards-wrapper {
    .card {
      padding: 2rem;

      &-title {
        margin-bottom: 2rem;
        font-size: 2rem;
      }

      .value {
        font-size: 4rem;
      }
    }
  }
}
