<h2 class="content-title">Financial overview</h2>

<div class="content-wrapper">
  <div class="left-side">
    <div class="info-cards-wrapper">

      <div class="card-wrapper">
        <div class="card card-1">
          <h3 class="card-title">GROSS PROFIT MARGIN</h3>
          <span class="value">84%</span>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card card-2">
          <h3 class="card-title">OPEX RATIO</h3>
          <span class="value">74%</span>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card card-3">
          <h3 class="card-title">EBIT MARGIN</h3>
          <span class="value">18%</span>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card card-4">
          <h3 class="card-title">NET PROFIT MARGIN</h3>
          <span class="value">14%</span>
        </div>
      </div>

    </div>

    <div class="chart-card">
      <div class="chart-card-inner background-navajowhite">
        <div class="header">
          <span>{{myCharts[1]?.title}}</span>
        </div>
        <div class="title">
          <span>{{myCharts[1]?.circleTitleData}}</span>
        </div>
        <chart [options]="myCharts[1]?.options"></chart>
      </div>
    </div>

    <div class="chart-card half">
      <div class="chart-card-inner background-navajowhite">
        <div class="header">
          <span>{{myCharts[2]?.title}}</span>
        </div>
        <div class="title">
          <span>{{myCharts[2]?.circleTitleData}}</span>
        </div>
        <chart [options]="myCharts[2]?.options"></chart>
      </div>
    </div>

    <div class="chart-card half">
      <div class="chart-card-inner background-navajowhite">
        <div class="header">
          <span>{{myCharts[3]?.title}}</span>
        </div>
        <div class="title">
          <span>{{myCharts[3]?.circleTitleData}}</span>
        </div>
        <chart [options]="myCharts[3]?.options"></chart>
      </div>
    </div>
  </div>

  <div class="right-side">
    <div class="chart-card">
      <div class="chart-card-inner income-statement">
        <h3 class="card-title">
          <span>INCOME STATEMENT</span>
        </h3>

        <div class="content">
          <ul class="balance-sheet">
            <li>
              <div class="label">Revenue</div>
              <div class="value">
                <span class="count">1.305.507</span>
                <span class="currency">€</span>
              </div>
            </li>

            <li class="line">
              <div class="label accent">COGS</div>
              <div class="value">
                <span class="count">208.453</span>
                <span class="currency">€</span>
              </div>
            </li>

            <li>
              <div class="label accent">GROSS PROFIT</div>
              <div class="value">
                <span class="count">1.097.054</span>
                <span class="currency">€</span>
              </div>
            </li>

            <li>
              <div class="label accent">OPEX</div>
              <div class="value">
                <span class="count">815.306</span>
                <span class="currency">€</span>
              </div>

              <ul class="info-sub-list">

                <li class="sub-list-item">
                  <div class="label">Sales</div>
                  <div class="value">
                    <span class="count">279.886</span>
                    <span class="currency">€</span>
                  </div>
                </li>

                <li class="sub-list-item">
                  <div class="label">Marketing</div>
                  <div class="value">
                    <span class="count">192.710</span>
                    <span class="currency">€</span>
                  </div>
                </li>

                <li class="sub-list-item">
                  <div class="label">IT</div>
                  <div class="value">
                    <span class="count">192.656</span>
                    <span class="currency">€</span>
                  </div>
                </li>

                <li class="sub-list-item">
                  <div class="label">General & Admin</div>
                  <div class="value">
                    <span class="count">150.054</span>
                    <span class="currency">€</span>
                  </div>
                </li>

              </ul>
            </li>

            <li>
              <div class="label accent accent">OTHER INCOME</div>
              <div class="value">
                <span class="count">2.13</span>
                <span class="currency">€</span>
              </div>
            </li>

            <li class="line">
              <div class="label accent">OTHER EXPENSES</div>
              <div class="value">
                <span class="count">51.195</span>
                <span class="currency">€</span>
              </div>
            </li>

            <li class="line">
              <div class="label accent">EBIT</div>
              <div class="value">
                <span class="count">232.684</span>
                <span class="currency">€</span>
              </div>

              <ul class="info-sub-list">

                <li class="sub-list-item">
                  <div class="label">Interest and Tax</div>
                  <div class="value">
                    <span class="count">38.244</span>
                    <span class="currency">€</span>
                  </div>
                </li>
              </ul>
            </li>

            <li>
              <div class="label accent">Net profit</div>
              <div class="value">
                <span class="count">194.440</span>
                <span class="currency">€</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
