
<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[1]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[1]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[1]?.options"></chart>
  </div>
</div>


<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[2]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[2]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[2]?.options"></chart>
  </div>
</div>

