<div class="investor-relations-wrapper">

  <div class="ir-item">
    <div class="ir-inner background-cadeblue">
      <div class="header">
        <span>{{myCharts[1]?.title}}</span>
      </div>
      <div class="title">
        <span>{{myCharts[1]?.circleTitleData}}</span>
      </div>
      <!--<chart [type]="myCharts[1]?.type" [data]="myCharts[1]?.data" [options]="myCharts[1]?.options"></chart>-->
    </div>
  </div>

  <div class="ir-item">
    <div class="ir-inner background-darkslategray">
      <div class="header">
        <span>{{myCharts[2]?.title}}</span>
      </div>
      <div class="title">
        <span>{{myCharts[2]?.circleTitleData}}</span>
      </div>
      <!--<chart [type]="myCharts[2]?.type" [data]="myCharts[2]?.data" [options]="myCharts[2]?.options"></chart>-->
    </div>
  </div>

  <div class="ir-item">
    <div class="ir-inner background-steelblue">
      <div class="header">
        <span>{{myCharts[3]?.title}}</span>
      </div>
      <div class="title">
        <span>{{myCharts[3]?.circleTitleData}}</span>
      </div>
      <!--<chart [type]="myCharts[3]?.type" [data]="myCharts[3]?.data" [options]="myCharts[3]?.options"></chart>-->
    </div>
  </div>

  <div class="ir-item">
    <div class="ir-inner background-lemonchiffon">
        <div class="header">
          <span>{{myCharts[4]?.title}}</span>
        </div>
        <div class="title">
          <span>{{myCharts[4]?.circleTitleData}}</span>
        </div>
        <!--<chart [type]="myCharts[4]?.type" [data]="myCharts[4]?.data" [options]="myCharts[4]?.options"></chart>-->
    </div>
  </div>

  <div class="ir-item">
    <div class="ir-inner background-lightblue">
      <div class="header">
        <span>{{myCharts[1]?.title}}</span>
      </div>
      <div class="title">
        <span>{{myCharts[1]?.circleTitleData}}</span>
      </div>
      <!--<chart [type]="myCharts[1]?.type" [data]="myCharts[1]?.data" [options]="myCharts[1]?.options"></chart>-->
    </div>
  </div>

  <div class="ir-item">
    <div class="ir-inner background-navajowhite">
      <div class="header">
        <span>{{myCharts[1]?.title}}</span>
      </div>
      <div class="title">
        <span>{{myCharts[1]?.circleTitleData}}</span>
      </div>
      <!--<chart [type]="myCharts[1]?.type" [data]="myCharts[1]?.data" [options]="myCharts[1]?.options"></chart>-->
    </div>
  </div>


</div>
