.background-cadeblue {
  background-color: #54a2ae
}

.background-darkslategray {
  background-color: #424c4e
}

.background-steelblue {
  background-color: #377991
}

.background-lemonchiffon {
  background-color: #999488;
}

.background-lightblue {
  background-color: #A1CAD0;
}

.background-navajowhite {
  background-color: #D1B596;
}

.investor-relations-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  .ir-item {
    width: 100%;
    
    .ir-inner {
      margin: 1rem;
      padding: 2rem;
    }

    .header {
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 23px;
    }

    .title {
      line-height: 70px;
      margin: auto;

      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: normal;
      font-style: normal;
      font-size: 2.3rem;
    }
  }
}

@media (min-width: 1400px) {
  .investor-relations-wrapper {

    .ir-item {
      
      .header {
        font-size: 2.4rem;
        line-height: 40px;
        
      }
      
      .title {
        font-size: 4.4rem;
        line-height: 100px;
      }
    }
  } 
}
  
@media (min-width: 1200px) {
  .investor-relations-wrapper {

    .ir-item {
      width: 33.33333%;
    }
  }
}