<h2 class="content-title">Sales Performance Dashboard</h2>

  <div class="page-wrapper">

    <div class="top-section">

        <div class="weekly-sales-chart ">
          <chart [options]="myCharts[6]?.options"></chart>
        </div>
        <div class="circle-chart">
          <chart [options]="myCharts[7]?.options" class="gauge"></chart>
        </div>
      
    </div>
    <div class="bottom-section">
      <div class="growth-chart-wrap">
          <chart [options]="myCharts[1]?.options"></chart>
      </div>
      <div class="sales-chart-wrap">
          <chart [options]="myCharts[2]?.options"></chart>
      </div>
      <div class="right-section">
        <div class="revenue-chart">
          <chart [options]="myCharts[3]?.options"></chart>
        </div>
        <div class="lifetime-chart">
          <chart [options]="myCharts[4]?.options"></chart>
        </div>
        <div class="acquisition-chart">
          <chart [options]="myCharts[5]?.options"></chart>
        </div>
      </div>

    </div>

  </div>
