

.top-section {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  background: linear-gradient(45deg, #46E4E0, #4EA7A3);

  .ytd-block {
     width: 20%;
  }

  .weekly-sales-chart {
    width: 60%;
  }

  .circle-chart {
    width: 20%;
    
  }
}
