.top-section {
  margin: 0; //
  display: flex;
  flex-wrap: wrap; //
  padding: 1rem 0; //
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: linear-gradient(35deg, #46E4E0, #4EA7A3);

  chart {
    height: 200px;
  }

  .fa {
    display: block;
    height: 100%;
    font-size: 4rem; //
  }


  .count {
    display: block;
    font-size: 2rem; //
  }

  .caption {
    display: block;
    font-size: 1rem; //
  }


  .card {
    padding: 0; //
    border-bottom: 2px solid #46E4E0; ///

    &.card-info {
      width: 100%; //
    }

    &.bar-chart {
      width: 100%; //
  
    }

    &.circle-chart {
      width: 100%; //
      // border: none; //
    }

  }

  .info-field {
    padding: 10px 0; //
    display: flex;
    flex-wrap: wrap; //
    // border-bottom: 2px solid #46E4E0; //

    // &:last-child {
    //   border: none; //
    // }

    .icon-wrap {
      width: 50%; //
    }

    .points {
      // width: 75%; // media changes
      text-align: left;
    }
  }
}

.bottom-section {
  flex-wrap: wrap;
  color: #46E4E0; 
  background: transparent;
  padding: 1rem 0;
  margin: 0;
  @extend .top-section;

  .card {
    border: none;
    // padding: 2rem; // media changes
  }

  .quotter-width {
    display: inline-block;
    margin: 0; //
    padding: 2rem 4rem; //
    width: 100%; //     media changes      //
    background-color: #fff;

    .points {
      margin-top: 5px;
    }

    .block {
      // margin-top: 5rem; // media changes
    }
  }

  .half-width {

    margin: 0; //
    width: 100%; // media changes //
    background-color: #fff;
  }

  .caption {
    margin: 15px;

    &-small {
      margin-bottom: 4rem;
      padding: 5px;
      font-size: 70%;

    }
  }

  .count {
    color: #fff;
    margin: 0 auto;
    
    &.block {
      width: 120px;
      padding: 3px;
      border-radius: 8px;
      background-color: #54B2AE;
    }
  }

  .card-inner {
    display: flex;
    flex-wrap: wrap; //
    border-bottom: 2px solid #EDEDED;

    chart {
      height: 160px;
    }

    &:last-child {
      border: none;
    }

    .points {
      margin-top: 25px;
      width: 100%; //
    }

    .caption {
      margin-bottom: 15px;
    }

    .chart-hw {
      width: 100%; //
    }

  }

  .accent {
    font-weight: bold;
  }

  .list-caption {
    margin-top: 20px;
    color: #808080;
    text-align: left;
    
    .square {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .color-block {
        display: inline-block;
        height: 15px;
        width: 15px;

        &.fill-1 {
          background-color: #A7FFFF;
        }
        &.fill-2 {
          background-color: #6ADEDE;
        }
        &.fill-3 {
          background-color: #19BFBF;
        }
      }
    }
  }

}

@media (min-width: 768px) {
  .top-section {
    margin: 1rem; //
    flex-wrap: nowrap; //
    padding: 1rem 0; //
  
    .fa {
      font-size: 4rem; //
    }
  
  
    .count {
      font-size: 2rem; //
    }
  
    .caption {
      font-size: 1rem; //
    }
  
  
    .card {
      padding: 1rem; //
      border-right: 2px solid #46E4E0; ///
      border-bottom: none;
  
      &.card-info {
        width: 30%; //
      }
  
      &.bar-chart {
        width: 45%; //
    
      }
  
      &.circle-chart {
        width: 25%; //
        border: none; //
      }
  
    }
  
    .info-field {
      padding: 3rem 0; //
      display: flex;
      flex-wrap: nowrap; //
      border-bottom: 2px solid #46E4E0; //
  
      &:last-child {
        border: none; //
      }
  
      .icon-wrap {
        width: 25%; //
      }
  
      .points {
         width: 75%; // media changes
      }
    }
  }
  
  .bottom-section {
    flex-wrap: wrap; 
  
    .card {
      padding: 0; // media changes
      border: none;
    }
  
    .quotter-width {
      margin: 0; //
      padding: 2rem 4rem; //
      width: 50%; //     media changes      //

      .points {
        font-size: 1.3rem;
      }
  
      .block {
         margin-top: 2rem; // media changes
      }
    }
  
    .half-width {
  
      margin: 0; //
      width: 100%; // media changes //
    }
  
    .card-inner {
      flex-wrap: wrap; //
  
      .points {
        width: 30%; //
      }
  
      .chart-hw {
        width: 70%; //
      }
  
    }
  
  }
}

@media (min-width: 1200px) {
  .bottom-section {
    flex-wrap: nowrap;

    .quotter-width {
      width: 25%;

    }

    .half-width {
      width: 50%;
    }

    .list-caption {
      font-size: 1.4rem;
    }
  }
}