<h2 class="content-title">Revenue and Customer Overview - Q1 2016</h2>

<div class="items-wrapper">
  <div class="mk-item-wrap">
    <div class="mk-item">
      <div class="aside-block">
          <h5>Revenue Actual vs Target</h5>
          <table>
            <tr>
              <td class="bold">€ 675.706</td>
              <td class="bold-clarification clarification">Actual<br>Revenue</td> 
            </tr>
            <tr>
              <td>€ 580.460</td> 
              <td class="clarification">Target<br>Revenue</td>
            </tr>
            <tr>
              <td><span class="fa fa-check-circle-o" aria-hidden="true"></span>80%</td>
              <td class="clarification">Target<br>Achivement</td>
            </tr>
          </table>
      </div>
      <div class="chart-wrapper">
        <h5>Revenue compared to previous Year</h5>
          <div class="revenue-chart"></div>
      </div>
    </div>
  </div>  

  <div class="mk-item-wrap">
    <div class="mk-item">
      <div class="aside-block">
          <h5># of New Customers Actual vs Target</h5>
          <table>
            <tr>
              <td class="bold">88</td> 
              <td class="bold-clarification clarification">New<br>Customers</td> 
            </tr>
            <tr>
              <td>110</td> 
              <td class="clarification">Target<br>New Customers</td>
            </tr>
            <tr>
                <td><span class="fa fa-exclamation-circle" aria-hidden="true"></span>80%</td> 
                <td class="clarification">Target<br>Achivement</td>
            </tr>
          </table>
      </div>
      <div class="chart-wrapper">
        <h5># of New Customers compared to previous Year</h5>
          <div class="new-customers-chart"></div>
      </div>
    </div>
  </div>  

  <div class="mk-item-wrap">
    <div class="mk-item">
      <div class="aside-block">
          <h5>Avg. Revenue per Customer Actual vs Target</h5>
          <table>
            <tr>
              <td class="bold">€ 5.150</td>
              <td class="bold-clarification clarification">Actual<br>Revenue</td> 
            </tr>
            <tr>
              <td>€ 5.006</td>
              <td class="clarification">Target<br>Revenue</td>
            </tr>
            <tr>
              <td><span class="fa fa-check-circle-o" aria-hidden="true"></span>80%</td>
              <td class="clarification">Target<br>Achivement</td>
            </tr>
          </table>
      </div>
      <div class="chart-wrapper">
        <h5>Avg. Revenue per Customer compared to previous Year</h5>
          <div class="avg-revenue-chart"></div>
      </div>
    </div>
  </div>  

  <div class="mk-item-wrap">
    <div class="mk-item"> 
      <div class="aside-block">
          <h5>Customer Acqulsition Cost (CAC) Actual vs Target</h5>
          <table>
            <tr>
              <td class="bold">€ 2.144</td> 
              <td class="bold-clarification clarification">Actual<br>CAC</td> 
            </tr>
            <tr>
              <td>€ 2.200</td> 
              <td class="clarification">Target<br>CAC</td>
            </tr>
            <tr>
              <td><span class="fa fa-check-circle-o" aria-hidden="true"></span>80%</td>
              <td class="clarification">Target<br>Achivement</td>
            </tr>
          </table>
      </div>  
      <div class="chart-wrapper">
        <h5>CAC vs Customer Lifetime Value (CLV)</h5>
        <div class="ir-item">
          <div class="ir-inner background-navajowhite">
            <chart [options]="myCharts[1]?.options" ></chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
