 path.domain, .tick {
  visibility: hidden !important;
}

:host .c3-xgrid-focus {
  display: none;
}

:host .c3-grid .c3-xgrid-focus {
  visibility : hidden !important;
}

.c3-event-rects { 
  display: none 
}

.c3-axis-y .tick {
  display: none;
}

.c3-xgrid-focus > line {
  width: 0;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.mk-item-wrap {
  width: 100%;
  padding: 5px;

  .mk-item {
    height: 100%;
    display: flex;
    background-color: #fff;
    
    .aside-block {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      width: 35%;


      .fa {
        margin-right: 20px;
        vertical-align: middle;
        font-size: 3rem;
        font-weight: bold;
        
        &.fa-check-circle-o {
          color: #63830C;
        }

        &.fa-exclamation-circle {
          color: #AF3325;
        } 
      }
    }

    table {
      width: 100%;
      height: 100%;

      td {
        padding: 0;
        text-align: center;
        font-size: 3rem;
      }

      .bold {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
      }

      .clarification {
        font-size: 1.6rem;
        text-align: start;
        width: 20%;
      }

      .bold-clarification {
        font-weight: bold;
      }

    }

    .chart-wrapper {
      padding: 10px;
      width: 65%;
    }

    .chart-title {
      margin: 0;
      font-size: 1.4rem;
    }
  }

}

@media (max-width: 768px) {
  .content-title {
    margin: 0;
    font-size: 2.1rem;
  }
  
  .mk-item-wrap {
    padding: 3px;
  
    .mk-item {
      flex-wrap: wrap;
      
      .aside-block {
        padding: 5px;
        width: 100%;
  
  
        .fa {
          font-size: 3rem;
        }
      }
  
      table {
        width: 100%;
        height: 100%;
  
        td {
          width: 70%;
          padding: 1rem;
          font-size: 3rem;
        }
  
        .bold {
          font-size: 3rem;
        }
  
        .clarification {
          font-size: 1.2rem;
          width: 30%;
        }
  
      }
  
      .chart-wrapper {
        padding: 5px;
        width: 100%;
      }
  
      .chart-title {
        font-size: 1.2rem;
      }
    }
  
  }
}

@media (min-width: 1200px) {
  .mk-item-wrap {
    width: 50%;

    .mk-item {

      table {
      
        td {
          font-size: 2.2rem;
        }
  
        .bold {
          font-size: 2.1rem;
        }
  
        .clarification {
          width: 10%;
          font-size: 1.1rem;
        }
      }
  
      .fa {
        font-size: 3.5rem;
      }
    }

  }
}

@media (min-width: 1400px) {

  .mk-item-wrap {
    width: 50%;

    .mk-item {

      table {
      
        td {
          font-size: 2.5rem;
        }
  
        .bold {
          font-size: 2.5rem;
        }
  
        .clarification {
          font-size: 1.2rem;
        }
      }
  
      .fa {
        font-size: 4.5rem;
      }
    }

  }

}
