.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.content-title {
    margin-bottom: 0;
    font-size: 2.4rem;
}

.blue {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #35AAAE;
}

.pink {
    color: #EC8190;
    @extend .blue;
}

.orange {
    color: #FEB074;
    @extend .blue;
}

.gray {
    color: #AAAAAA;
    @extend .blue;
}

.container-left {
    width: 100%;
    padding: 10px;

    .sales-cycle-item {
        padding: 20px;
        background-color: #fff;


        chart {
            height: 200px;
        }

        .title {
            display: block;
            text-align: center;
            color: #35AAAE;
            font-weight: bold;
        }

        .chart-heading {
            margin: 0;
            font-size: 3.3rem;
        }

        .clarification {
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }

    .sales-stages-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        padding: 15px;
        background-color: #fff;

        .title {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
            font-size: 2rem;
            color: #AEA6A6;
        }

        chart {
            width: 70%;
        }

        .average-list {
            display: block;
            width: 30%;
            padding: 10px 45px 15px;
            background-color: #FAFAFA;
            

            li {
                margin: 30px auto;
            }
        }
    }
}

.cards-wrapper {
    width: 100%;
}

.card {
    display: flex;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    background: #fff;

}


.user {
    width: 20%;
    padding: 10px;

    .name {
        display: block;
        text-align: center;
        color: #49B2B6;
        font-weight: bold;
    }

    img {
        display: block;
        margin: 25px auto;
        width: 100%;
        
    }
}

.person-rates {
    width: 80%;
    padding: 5px;

    .title {
        display: inline-block;
        color: #B0A9A9;
        margin: 0 15px;
    }

    .percent-count {
        font-weight: bold;
        color: #000;

    }

    chart {
        height: 170px;
        
        &.line-chart {
            height: 80px;
        }
    }


}

.mount-chart {
    height: 150px;
}

@media (min-width: 1200px) {

    .container-left {
        width: 50%;

        .sales-stages-wrapper {

            chart {
                width: 100%;
            }

            .average-list {
                display: none;
            }
        }
    }

    .cards-wrapper {
        width: 50%;

        chart {
            height: 90px;
        }

        .title {
            margin: 0 10px;
        }
    }
}

@media (min-width: 1400px) {
    .content-title {
        font-size: 3rem;
    }

    .container-left {

        .chart-heading {
            font-size: 5rem;
        }

        .clarification {
            font-size: 4rem;
        }

        .sales-stages-wrapper {

            chart {
                width: 70%;
    
            }
    
            .average-list {
                display: block;
            }
        }
    }
}