<div class="page-wrapper">

<div class="sc-items-wrapper container-left">

  <div class="sales-cycle-item">
    <span class="title">
      <h1>18,4 days</h1>
      <span class="chart-clarification">average sales cycle length</span>
    </span>  

    <chart [options]="myCharts[1]?.options"></chart>
  </div>

  <div class="sales-stages-wrapper">

    <h3 class="gray-heading">Sales Funnel & Avg. length of Sales Stages</h3>

    <div class="block-average-sales">
      <chart class="block-chart" [options]="myCharts[2]?.options"></chart>
    </div>  

    <div class="list-average-sales">
        <ul class="average-list">
            <li class="li-opportunities"><span class="blue">Opportunities</span> <br> 1.478</li>
            <li class="li-proposal"><span class="pink">Proposal</span> <br> 455</li>
            <li class="li-negotiation"><span class="orange">Negotiation</span> <br> 357</li>
            <li class="li-closing"><span class="gray">Closing</span> <br> 111</li>
          </ul>
      </div>

  </div>

</div>  

<div class="cards-wrapper container-right">
  
  <div class="card">
    <div class="person-img">
      <span class="name">Justin</span>
      <img src="" alt="" />
    </div>
    <div class="person-rates">
        <div class="card-chart-wrapper">
          <h4>lead Conversation Rate</h4>
          <chart class="mount-chart" [options]="myCharts[5]?.options"></chart>
          <chart class="line-chart" [options]="myCharts[8]?.options"></chart>
          <h4>sales cycle length</h4>
        </div>
      </div>
  </div>

  <div class="card">
      <div class="person-img">
        <span class="name">Justin</span>
        <img src="" alt="" />
      </div>
      <div class="person-rates">
          <div class="card-chart-wrapper">
            <h4>lead Conversation Rate</h4>
            <chart class="mount-chart" [options]="myCharts[4]?.options"></chart>
            <chart class="line-chart" [options]="myCharts[8]?.options"></chart>
            <h4>sales cycle length</h4>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="person-img">
          <span class="name">Justin</span>
          <img src="" alt="" />
        </div>
        <div class="person-rates">
            <div class="card-chart-wrapper">
              <h4>lead Conversation Rate</h4>
              <chart class="mount-chart" [options]="myCharts[3]?.options"></chart>
              <chart class="line-chart" [options]="myCharts[6]?.options"></chart>
              <h4>sales cycle length</h4>
            </div>
          </div>
      </div>

</div>

</div>
