<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[1]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[1]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[1]?.options"></chart>
  </div>
</div>


<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[2]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[2]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[2]?.options"></chart>
  </div>
</div>





<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[3]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[3]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[3]?.options"></chart>
  </div>
</div>
<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[6]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[6]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[6]?.options"></chart>
  </div>
</div>



<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[4]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[4]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[4]?.options"></chart>
  </div>
</div>
<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[8]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[8]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[8]?.options"></chart>
  </div>
</div>


<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[5]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[5]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[5]?.options"></chart>
  </div>
</div>
<div class="ir-item">
  <div class="ir-inner background-navajowhite">
    <div class="header">
      <span>{{myCharts[8]?.title}}</span>
    </div>
    <div class="title">
      <span>{{myCharts[8]?.circleTitleData}}</span>
    </div>
    <chart [options]="myCharts[8]?.options"></chart>
  </div>
</div>
